.main{
    height: 800px;
    background-color: red;
    position: relative;
}
.main2{
    height: 800px;
    background-color: black;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #10d20a;
    margin: 5px;
}
.main .box:nth-child(1) {
    background-color: yellow;
    position: sticky;
}
.main .box:nth-child(4) {
    background-color: orangered;
}
.box:nth-child(2) {
    background-color: rgba(0, 0, 255, 0.53);
    left: 100px;
}
